$colors: (
  "bg" : (
    "gray": #F6F6F9,
    "gray-2": #F8F8F8,
    "gray-3": #F4F4F7,
    "gray-secondary": #EEEEF0,
  ),
  "text": (
    "custom-secondary": #444446,
    "custom-body": #57575A,
    "custom-body-2": #939397,
    "custom-dark": #3D3C46,
    "custom-paragraph": #716F7E,
    "custom-badge": #242424,
    "custom-disabled": #B6B6B6,
    "custom-black": #191822,
    "warning-dark" : #5B3A05,
  ),
  "border": (
    "custom-pagination": #DFDFE0,
    "custom-secondary": #EEEEEF,
    "gray": #E8E8E8,
  )
);

:root {
  @each $prefix, $group in $colors {
    @each $name, $value in $group {
      --clr-#{$prefix}-#{$name}: #{$value};
    }
  }
}

@each $prefix, $group in $colors {
  @each $name, $value in $group {
    .#{$prefix}-#{$name} {
      @if $prefix == "text" {
        color: var(--clr-#{$prefix}-#{$name}) !important;
      } @else if $prefix == "border" {
        border-color: var(--clr-#{$prefix}-#{$name}) !important;
      } @else if $prefix == "bg" {
        background-color: var(--clr-#{$prefix}-#{$name}) !important;
      }
    }
  }
}