/.phpunit.cache
/node_modules
/vendor
/public/build
/public/hot
/public/avatars
/public/uploads
/public/storage
/storage/*.key
/storage/*.key
/storage/app/license.json
/storage/app/verified_license.json
/storage/app/license_deactivate.json
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/vendor/_laravel_ide/discover-*.php
license.json
changed_files.txt
