.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #2f3640;
    color: #f5f6fa;
    padding: 32px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
    transition: 400ms;
    z-index: 100;
    text-align: center;
}

.cookie-container.active {
    bottom: 0;
}

.cookie-container a {
    color: #f5f6fa;
}

.cookie-btn {
    background: #fff;
    border: 0;
    color: #2f3640;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.wpcc-container {
	font-weight: 500;
}

.wpcc-container .wpcc-privacy{
    display: block;
    margin-top: 8px;
	font-weight: 600;
}
