.pure-card-header{
    padding: 30px 30px 30px;
}

.pure-card-body{
    padding: 0px 30px 40px;
}

.pure-card-footer{
    padding: 20px 30px;
    border-top: 1px solid var(--bs-border-color);
}

.pure-card-title{
    font-weight: 600;
    font-size: 18px;
    color: var(--bs-heading-color);
}