.custom-pagination{
    list-style: none;
    display: flex;
    padding-left: 0;
    gap: 3px;
    & li{
        &.disabled{
            & a{
                color: var(--clr-text-custom-disabled);
                border-color: var(--clr-border-custom-pagination);
                cursor: not-allowed;
                background-color: var(--bs-white);
            }
        }
        &:not(.disabled){
            & a{
                &:hover{
                    background-color: var(--bs-primary);
                    border-color: --bs-primary;
                    color: var(--bs-white);
                }
            }
        }
        &.active{
            & a{
                background-color: var(--bs-primary);
                border-color: --bs-primary;
                color: var(--bs-white);
            }
        }
        & a{
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            color: var(--clr-text-custom-paragraph);
            border: 1px solid var(--clr-border-custom-pagination);
            display: inline-flex;
            padding: 7px 15px;
            border-radius: 6px;
            box-shadow: 0 1px 1px 0 rgba($color: $black, $alpha: .04);
            background-color: var(--bs-white);
            transition: all 0.3s ease-in-out;
        }
    }
}