.timeline {
  position: relative;
  padding: 0;
  block-size: 100%;
  inline-size: 100%;
  list-style: none;

  &:not(.timeline-center) {
    padding-inline-start: 0.5rem;
  }

  .timeline-title{
    font-size: 0.938rem;
  }
  .timeline-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    > *:first-child {
      margin-right: 0.5rem;
    }
  }
  // End Indicator
  .timeline-end-indicator {
    position: absolute;
    bottom: -1.35rem;
    left: -0.65rem;
  }

  // Timeline Item
  .timeline-item {
    position: relative;
    border: 0;
    &:not(:last-child) {
      border-inline-start: 1px solid rgba($color: #57575A, $alpha: .1);
    }
    padding-inline-start: 1.4rem;
    padding-bottom: 1.5rem;

    .timeline-point {
      position: absolute;
      top: 3px;
      left: -#{$timeline-point-size / 2};
      z-index: 2;
      display: block;
      width: $timeline-point-size;
      height: $timeline-point-size;
      background-color: var(--bs-primary);
      box-shadow: 0 0 0 10px #fff;
      outline: 3px solid #e9e7fd;
      border-radius: 50%;

      @each $color, $value in $theme-colors {
        &.timeline-point-#{$color} {
          background-color: #{$value};
          outline: 3px solid rgba($value, .16);
        }
      }
    }
  }

  &.timeline-avatar{
    padding-inline-start: 1rem;
    & .timeline-item{
      padding-inline-start: 2rem;
      padding-bottom: 1rem;
      & .timeline-point-avatar{
        position: absolute;
        top: -7px;
        left: -1rem;
        z-index: 2;
        display: block;
        box-shadow: 0 0 0 7px #fff;
        outline: 3px solid #fff;
        border-radius: 50%;
      }
    }
  }
}