.pure-card-header {
  padding: 30px 30px 30px;
}

.pure-card-body {
  padding: 0px 30px 40px;
}

.pure-card-footer {
  padding: 20px 30px;
  border-top: 1px solid var(--bs-border-color);
}

.pure-card-title {
  font-weight: 600;
  font-size: 18px;
  color: var(--bs-heading-color);
}

.pure-modal-title {
  font-weight: 600;
  font-size: 20px;
  color: var(--bs-heading-color);
}

.pure-btn-close {
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  color: var(--bs-clr-custom-paragraph);
}
.pure-btn-close:hover {
  background-color: var(--clr-bg-gray);
}

.pure-slideable-tab-wrapper-style {
  padding: 4px;
  border-radius: 8px;
  background-color: var(--clr-bg-gray-secondary);
}
.pure-slideable-tab-wrapper-style .pure-slide-tab-bar {
  top: 5px;
  position: absolute;
  height: calc(100% - 8px);
  background-color: var(--bs-white);
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(25, 24, 34, 0.2);
}
.pure-slideable-tab-wrapper-style .pure-slide-tab-item {
  color: var(--clr-text-custom-paragraph);
  border: 0;
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.pure-slideable-tab-wrapper-style .pure-slide-tab-item.active {
  color: var(--bs-black);
}
.pure-slideable-tab-wrapper-style .pure-slide-tab-item:hover {
  background-color: initial;
}
.pure-slideable-tab-wrapper-style .pure-slide-tab-item:focus-visible {
  outline: 0;
  box-shadow: none;
}

:root {
  --clr-bg-gray: #F6F6F9;
  --clr-bg-gray-2: #F8F8F8;
  --clr-bg-gray-3: #F4F4F7;
  --clr-bg-gray-secondary: #EEEEF0;
  --clr-text-custom-secondary: #444446;
  --clr-text-custom-body: #57575A;
  --clr-text-custom-body-2: #939397;
  --clr-text-custom-dark: #3D3C46;
  --clr-text-custom-paragraph: #716F7E;
  --clr-text-custom-badge: #242424;
  --clr-text-custom-disabled: #B6B6B6;
  --clr-text-custom-black: #191822;
  --clr-text-warning-dark: #5B3A05;
  --clr-border-custom-pagination: #DFDFE0;
  --clr-border-custom-secondary: #EEEEEF;
  --clr-border-gray: #E8E8E8;
}

.bg-gray {
  background-color: var(--clr-bg-gray) !important;
}

.bg-gray-2 {
  background-color: var(--clr-bg-gray-2) !important;
}

.bg-gray-3 {
  background-color: var(--clr-bg-gray-3) !important;
}

.bg-gray-secondary {
  background-color: var(--clr-bg-gray-secondary) !important;
}

.text-custom-secondary {
  color: var(--clr-text-custom-secondary) !important;
}

.text-custom-body {
  color: var(--clr-text-custom-body) !important;
}

.text-custom-body-2 {
  color: var(--clr-text-custom-body-2) !important;
}

.text-custom-dark {
  color: var(--clr-text-custom-dark) !important;
}

.text-custom-paragraph {
  color: var(--clr-text-custom-paragraph) !important;
}

.text-custom-badge {
  color: var(--clr-text-custom-badge) !important;
}

.text-custom-disabled {
  color: var(--clr-text-custom-disabled) !important;
}

.text-custom-black {
  color: var(--clr-text-custom-black) !important;
}

.text-warning-dark {
  color: var(--clr-text-warning-dark) !important;
}

.border-custom-pagination {
  border-color: var(--clr-border-custom-pagination) !important;
}

.border-custom-secondary {
  border-color: var(--clr-border-custom-secondary) !important;
}

.border-gray {
  border-color: var(--clr-border-gray) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn-custom-secondary {
  background-color: var(--clr-bg-gray);
  color: var(--clr-custom-secondary);
  border: 0;
  outline: 0;
}
.btn-custom-secondary:hover, .btn-custom-secondary:focus, .btn-custom-secondary:active {
  background-color: #EDEDF0;
  color: var(--clr-custom-secondary);
  border-color: #EDEDF0;
}

.btn-cancel {
  padding: 8px 16px;
}
.btn-cancel:hover, .btn-cancel:focus, .btn-cancel:active {
  background-color: rgba(95, 74, 254, 0.1) !important;
  color: var(--bs-primary) !important;
  border-color: rgba(95, 74, 254, 0.1) !important;
}
.btn-cancel.danger:hover, .btn-cancel.danger:focus, .btn-cancel.danger:active {
  background-color: rgba(213, 1, 0, 0.1) !important;
  color: var(--bs-danger) !important;
  border-color: rgba(213, 1, 0, 0.1) !important;
}

.btn-outline-secondary-custom {
  background-color: transparent;
  color: var(--clr-custom-paragraph);
  border: 1px solid var(--clr-border-gray);
}
.btn-outline-secondary-custom:hover, .btn-outline-secondary-custom:focus, .btn-outline-secondary-custom:active {
  background-color: var(--clr-bg-gray) !important;
  color: var(--clr-custom-paragraph) !important;
  border-color: var(--clr-bg-gray) !important;
}

.fz-12px {
  font-size: 12px;
}

.fz-13px {
  font-size: 13px;
}

.fz-15px {
  font-size: 15px;
}

.fz-16px {
  font-size: 16px;
}

.fz-18px {
  font-size: 18px;
}

.text-hover-underline {
  text-decoration: none !important;
}
.text-hover-underline:hover {
  text-decoration: underline !important;
}

.height-4px {
  height: 4px !important;
}

.card-bg {
  background-color: var(--bs-card-bg);
}

.shadow-custom {
  box-shadow: 0 2px 2px -1px rgba(25, 24, 34, 0.1), 0 1px 3px 0 rgba(25, 24, 34, 0.08);
}

.project-card-shadow {
  box-shadow: 0 2px 2px -1px rgba(25, 24, 34, 0.1), 0 1px 3px 0 rgba(25, 24, 34, 0.08), 0 -4px 0 0 #ddd;
}

.rounded-custom {
  border-radius: 0.75rem;
}

.common-link-btn {
  color: #716F7E;
  text-decoration: none !important;
}
.common-link-btn:hover {
  color: var(--bs-primary) !important;
}

.custom-card-action-btn {
  --btn-size: 36px;
  width: var(--btn-size);
  height: var(--btn-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #89898B;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}
.custom-card-action-btn:hover {
  color: #191822;
  background-color: #EDEDF0;
}
.custom-card-action-btn.blur-bg {
  background-color: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(14px);
  color: #fff;
}
.custom-card-action-btn.blur-bg:hover {
  background-color: var(--bs-white);
  color: #191822;
}

.pure-slide-tab-bar {
  position: absolute;
  top: 0;
  height: 2px;
  background-color: var(--bs-primary);
  transition: all 0.3s ease-in-out;
}

.table-invoice-btn {
  color: var(--clr-text-custom-paragraph);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none !important;
  border: 1px solid var(--clr-border-gray);
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  padding: 4px 16px;
}
.table-invoice-btn:hover {
  background-color: rgba(95, 74, 254, 0.06);
  border-color: rgba(95, 74, 254, 0.06);
  color: #5F4AFE;
}

:root,
[data-bs-theme=light] {
  --app-header-height: 60px;
  --app-sidebar-header-height: 60px;
  --app-sidebar-footer-height: 60px;
  --app-sidebar-width: 275px;
  --app-sidebar-collapsed-width: 80px;
  --app-sidebar-header-border: #F6F6F9;
  --app-sidebar-menu-hover-bg: #F6F6F9;
  --app-sidebar-shadow: 0px 1px 3px 0px rgba(25, 24, 34, 0.18);
  --app-sidebar-active-nav-link-shadow: 0px 1px 2px 0 rgba(36, 17, 184, 0.25), 0px 0px 1px 0 rgba(43, 24, 190, 0.25);
  --app-header-shadow: 0px 1px 2px 0px rgba(25, 24, 34, 0.12);
  --app-main-bg: #F4F4F7;
}

:root[data-bs-theme=dark] {
  --app-sidebar-bg: #1F1F21;
  --app-sidebar-menu-color: #A6A5B2;
  --app-sidebar-menu-hover-bg: #29292B;
  --app-sidebar-header-border: rgba(246, 246, 249, 0.1);
  --app-main-bg: #161618;
}
:root[data-bs-theme=dark] .header-nav-link:hover {
  background-color: #161618;
}

.app-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--app-sidebar-width);
  box-shadow: var(--app-sidebar-shadow);
  height: 100%;
  background-color: var(--bs-card-bg);
  transition: width 0.3s ease, transform 0.3s ease;
  z-index: 999;
}
@media (max-width: 1199px) {
  .app-sidebar {
    transform: translateX(-100%);
  }
}
.app-sidebar-wrapper {
  width: var(--app-sidebar-width);
}
.app-sidebar-close-btn {
  color: var(--bs-gray-700);
}
.app-sidebar-close-btn:hover {
  color: var(--bs-primary);
}

.app-sidebar-header {
  height: var(--app-sidebar-header-height);
  border-bottom: 1px solid var(--app-sidebar-header-border);
  padding: 14px 26px;
  position: relative;
}
.app-sidebar-header .app-logo-icon {
  display: none;
}

.app-sidebar-menu {
  padding: 20px 15px 20px 15px;
  position: relative;
}
.app-sidebar-menu ul {
  padding: 0;
  margin: 0;
}
.app-sidebar-menu ul li {
  list-style-type: none;
  display: block;
}
.app-sidebar-menu ul li a {
  transition: all 0s ease-in-out;
  font-family: "Inter", sans-serif;
  color: var(--app-sidebar-menu-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  border-radius: 6px;
  padding: 11px 16px;
  margin-bottom: 4px;
}
.app-sidebar-menu ul li a .menu-icon {
  width: 20px;
  margin-right: 3px;
  transform: translateY(-1px);
  transition: none;
}
.app-sidebar-menu ul li a .menu-arrow {
  transition: all 0.3s ease-in-out;
}
.app-sidebar-menu ul li a span {
  color: currentColor;
}
.app-sidebar-menu ul li a:hover, .app-sidebar-menu ul li a.active {
  background-color: var(--app-sidebar-menu-hover-bg);
}
.app-sidebar-menu ul li a.menu-current {
  background-color: var(--bs-primary);
  color: var(--bs-white);
  box-shadow: 0 1px 2px 0 rgba(55, 17, 184, 0.25), 0 0 1px 0 #3E18BE;
}
.app-sidebar-menu ul li a.menu-current::before {
  background-color: var(--bs-primary);
  opacity: 1;
}
.app-sidebar-menu ul li a.menu-current:hover {
  background-color: var(--bs-primary);
  color: var(--bs-white);
  box-shadow: 0 1px 2px 0 rgba(55, 17, 184, 0.25), 0 0 1px 0 #3E18BE;
}
.app-sidebar-menu ul li a.active .menu-arrow {
  transform: rotate(90deg);
}
.app-sidebar-menu ul li .app-sidebar-submenu {
  padding-left: 20px;
  display: none;
}
.app-sidebar-menu ul li .app-sidebar-submenu li a {
  position: relative;
}
.app-sidebar-menu ul li .app-sidebar-submenu li a::before {
  content: "";
  width: 6px;
  height: 6px;
  border: 1px solid currentColor;
  border-radius: 50%;
  margin-right: 6px;
  opacity: 0.4;
}
.app-sidebar-menu ul li .app-sidebar-submenu li a.menu-current {
  background-color: var(--bs-primary);
  color: var(--bs-white);
  box-shadow: 0 1px 2px 0 rgba(55, 17, 184, 0.25), 0 0 1px 0 #3E18BE;
}
.app-sidebar-menu ul li .app-sidebar-submenu li a.menu-current::before {
  background-color: var(--bs-primary);
  opacity: 1;
}
.app-sidebar-menu ul .app-sidebar-menu-heading {
  padding: 15px 0 5px;
}
.app-sidebar-menu ul .app-sidebar-menu-heading > span {
  font-size: 13px;
  color: #939397;
  display: inline-block;
  padding: 0 16px;
  position: relative;
}
.app-sidebar-menu ul .app-sidebar-menu-heading .app-sidebar-menu-heading-line {
  display: inline-block;
  height: 4px;
  width: 16px;
  background-color: #D9D9D9;
  border-radius: 2px;
  position: relative;
  visibility: hidden;
  position: absolute;
  top: 50%;
  transform: translate(1px, -50%);
}
.app-sidebar-menu ul .app-sidebar-menu-heading .app-sidebar-menu-heading-line::after, .app-sidebar-menu ul .app-sidebar-menu-heading .app-sidebar-menu-heading-line::before {
  position: absolute;
  top: 0;
  left: -8px;
  content: "";
  display: block;
  height: 4px;
  width: 4px;
  background-color: #D9D9D9;
  border-radius: 2px;
}
.app-sidebar-menu ul .app-sidebar-menu-heading .app-sidebar-menu-heading-line::after {
  left: auto;
  right: -8px;
}

.app-sidebar-footer {
  height: var(--app-sidebar-footer-height);
}

.app-header {
  height: var(--app-header-height);
  box-shadow: var(--app-header-shadow);
  background-color: var(--bs-card-bg);
}

.app-header-search-input {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 0;
  outline: 0;
  border-radius: 40px;
  padding-left: 44px;
  padding-right: 26px;
  border: 1px solid var(--bs-gray-150);
  background-color: var(--bs-gray-150);
  font-size: 14px;
  color: var(--bs-black);
}
.app-header-search-input:focus {
  background-color: var(--bs-card-bg);
  border-color: var(--bs-primary);
  color: var(--bs-primary);
}
.app-header-search-input:focus::placeholder {
  opacity: 0;
}
.app-header-search-btn {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  background-color: transparent;
  color: var(--bs-gray-500);
  border: 0;
  outline: 0;
}
.app-header-search-btn svg {
  transform: translateY(-2px);
}
.app-header-search-btn::placeholder {
  color: var(--bs-gray-500);
}

.app-header-bar-btn {
  background-color: transparent;
  width: 20px;
  height: 14px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.app-header-bar-btn span {
  background-color: var(--bs-gray-700);
  position: absolute;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 2px;
  display: block;
  left: 0;
}
.app-header-bar-btn span:nth-child(1) {
  top: 0;
}
.app-header-bar-btn span:nth-child(2) {
  top: 6px;
}
.app-header-bar-btn span:nth-child(3) {
  bottom: 0;
}
.app-header-bar-btn.open span:nth-child(1) {
  transform: rotateZ(45deg) scaleX(0.75) translate(6px, -3px);
}
.app-header-bar-btn.open span:nth-child(3) {
  transform: rotateZ(-45deg) scaleX(0.75) translate(6px, 3px);
}
.app-header-bar-btn:hover span {
  background-color: var(--bs-black);
}

.header-user .dropdown-menu {
  top: 9px !important;
}

.app-footer {
  background-color: var(--bs-card-bg);
}

.app-main {
  background-color: var(--app-main-bg);
  min-height: 100vh;
}

.app-wrapper {
  margin-left: var(--app-sidebar-width);
  transition: margin-left 0.3s ease;
}
@media (max-width: 1199px) {
  .app-wrapper {
    margin-left: 0;
  }
}

.app-wrapper:has(.app-sidebar.collapsed) {
  margin-left: 0;
}

.app-wrapper .app-sidebar.collapsed {
  transform: translateX(-100%);
}

.app-wrapper .app-sidebar.open {
  transform: translateX(0%);
}

.app-content-wrapper {
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
}

.app-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bs-black);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.app-backdrop.show {
  opacity: 0.5;
  visibility: visible;
}

.auth-main {
  background-color: var(--app-main-bg);
}
.auth-brand {
  position: absolute;
  top: 30px;
  left: 30px;
}
.auth-card {
  width: 500px;
}
.auth-social-btn {
  width: 100%;
  height: 44px;
  border: 1px solid var(--bs-border-color-translucent);
  border-radius: var(--bs-border-radius);
  box-shadow: inset 0 1px 4px 0 rgba(48, 54, 81, 0.06), 0 1px 1px 0 rgba(48, 54, 81, 0.06);
  transition: all 0.3s ease-in-out;
}
.auth-social-btn:hover {
  border-color: var(--bs-black);
  box-shadow: none;
}
.auth-cover {
  background-color: rgba(95, 74, 254, 0.15);
  padding: 70px;
}
@media (max-width: 575px) {
  .auth-cover {
    padding: 40px 20px;
  }
}
.auth-cover-wrapper {
  background-color: #600EE4;
  background-repeat: no-repeat;
  background-size: cover;
}
.auth-cover-content {
  padding-left: 60px;
  padding-right: 60px;
}
@media (max-width: 768px) {
  .auth-cover-content {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.auth-cover-content p {
  color: rgba(255, 255, 255, 0.8);
}
.auth-cover-image img {
  width: 250px;
}

:root[data-bs-theme=dark] .auth-social-btn:hover {
  border-color: var(--bs-primary);
}

.profile-avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid #fff;
  position: relative;
}
.profile-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.profile-avatar-edit-btn {
  position: absolute;
  bottom: 5px;
  right: 2px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--bs-white);
  color: var(--clr-text-custom-black);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px 0 rgba(25, 24, 34, 0.14);
}

.profile-cover-wrapper {
  width: 100%;
  height: 180px;
  background: linear-gradient(168deg, #3b23f2 0%, #844afe 100%);
  position: relative;
}
.profile-cover-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.profile-cover-edit-btn {
  font-weight: 500;
  font-style: 14px;
  color: var(--clr-text-custom-black);
  text-decoration: none;
  padding: 8px 17px;
  border-radius: 6px;
  background-color: var(--bs-white);
}

.profile-header-bottom {
  margin-top: -60px;
  border-bottom: 1px solid var(--bs-border-color);
}

.profile-meta span {
  position: relative;
  color: #716F7E;
  display: inline-block;
  font-weight: 500;
}
.profile-meta span:not(:last-child) {
  padding-right: 14px;
  margin-right: 7px;
}
.profile-meta span:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #BEB5B5;
}

.profile-nav .nav-tabs .nav-item .nav-link {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #57575A;
  font-weight: 500;
}
.profile-nav .nav-tabs .nav-item .nav-link.active {
  color: var(--bs-primary);
}

.profile-info-label {
  color: #57575A;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  min-width: 140px;
}

.project-card {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 2px 2px -1px rgba(25, 24, 34, 0.1), 0 1px 3px 0 rgba(25, 24, 34, 0.08);
}

.project-cover {
  width: 100%;
  height: 140px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: relative;
  overflow: hidden;
}
.project-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.follower-avatar {
  margin-top: -50px;
  border: 4px solid #fff;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.follower-avatar img {
  width: 100%;
  height: 100%;
}

.chat-list-item {
  padding: 10px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
.chat-list-item:hover {
  background-color: var(--clr-bg-gray-2);
  cursor: pointer;
}
.chat-list-item.active {
  background-color: var(--bs-primary);
}
.chat-list-item.active .chat-username, .chat-list-item.active .chat-time, .chat-list-item.active .chat-prev-msg, .chat-list-item.active .chat-prev-msg i, .chat-list-item.active .chat-prev-msg b {
  color: #fff !important;
}
.chat-list-item .chat-time {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-custom-body-2);
}
.chat-list-item .chat-username, .chat-list-item .chat-time, .chat-list-item .chat-prev-msg, .chat-list-item .chat-prev-msg i, .chat-list-item .chat-prev-msg b {
  transition: all 0.3s ease-in-out;
}

.chat-sidebar-body {
  height: calc(100vh - 21rem);
}

.chat-conversation-body {
  height: calc(100vh - 25rem);
}

.chat-conversation-wrapper {
  border: 1px solid rgba(87, 87, 90, 0.1);
  border-radius: 10px 10px;
}

.chat-conversation-header {
  border-radius: 10px 10px 0 0;
  padding: 14px 20px;
}

.chat-conversation-msg:not(:last-child) {
  margin-bottom: 20px;
}

.chat-conversation-msg-text-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.chat-conversation-msg-text {
  padding: 10px 15px;
  display: inline-block;
  width: fit-content;
}
.chat-conversation-msg-text:not(:last-child) {
  margin-bottom: 3px;
}
.chat-conversation-msg-text:only-child {
  border-radius: 12px;
}
.chat-conversation-msg-text:first-child {
  border-radius: 12px 12px 12px 2px;
}
.chat-conversation-msg-text:last-child {
  border-radius: 2px 12px 12px 12px;
}
.chat-conversation-msg-text:not(:first-child):not(:last-child) {
  border-radius: 4px;
}

.chat-conversation-msg-content-meta span {
  font-size: 12px;
  color: #7D7D7E;
}
.chat-conversation-msg-content-meta .chat-view-status.send {
  color: #A599FF;
}
.chat-conversation-msg-content-meta .chat-view-status.viewed {
  color: #38CA7A;
}

.chat-conversation-msg.msg-right .chat-conversation-msg-text {
  background-color: var(--bs-primary) !important;
  color: #fff !important;
  margin-left: auto;
}
.chat-conversation-msg.msg-right .chat-conversation-msg-text:first-child {
  border-radius: 12px 12px 2px 12px;
}
.chat-conversation-msg.msg-right .chat-conversation-msg-text:last-child {
  border-radius: 12px 2px 12px 12px;
}
.chat-conversation-msg.msg-right .chat-conversation-msg-text:only-child {
  border-radius: 12px;
}
.chat-conversation-msg.msg-right .chat-conversation-msg-content-meta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.chat-conversation-input {
  position: relative;
}
.chat-conversation-input input {
  width: 100%;
  height: 46px;
  background-color: var(--clr-bg-gray);
  color: var(--bs-black);
  border: 1px solid var(--clr-border-gray);
  outline: 0;
  border-radius: 60px;
  padding-left: 56px;
  padding-right: 46px;
  transition: all 0.3s ease-in-out;
}

.chat-conversation-send-btn {
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bs-primary);
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.chat-conversation-emoji {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bs-black);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.chat-conversation-emoji:hover {
  color: var(--bs-primary);
}

.pure-img-uploader-thumb img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-gallery-single {
  border-radius: 8px;
  overflow: hidden;
}

.product-gallery-remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FF3B3B;
  color: #FF3B3B;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}
.product-gallery-remove-btn:hover {
  background-color: #FF3B3B;
  color: #fff;
}

.product-gallery-uploader-container {
  background-color: #F6F6F9;
  border: 1px dashed #E4E6FC;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}

.product-gallery-uploader-label {
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #E5E7EB;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 6px;
}

.product-price-others-tab {
  border: 1px solid #E5E5EA;
}
.product-price-others-tab .nav {
  background-color: #F6F6F9;
  min-width: 280px;
}
.product-price-others-tab .nav button {
  background-color: transparent;
  text-align: left;
  border-radius: 0;
  padding: 16px 26px;
  border: none;
  border-bottom: 1px solid #E5E5EA;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  font-size: 15px;
  font-weight: 500;
}
.product-price-others-tab .nav button:last-child {
  border-bottom: none;
}
.product-price-others-tab .nav button.active {
  background-color: #fff;
  color: var(--bs-primary);
}

/*# sourceMappingURL=conca.css.map */
