
@mixin conca-avatar-variant($selector, $avatar-size, $font-size, $avatar-statuse-size, $status-position-top, $status-position-right, $status-inset: 2px) {
    #{$selector}{
        width: $avatar-size;
        height: $avatar-size;
    
        .avatar-text {
            font-size: $font-size;
        }
    
        &.avatar-status-online,
        &.avatar-status-offline,
        &.avatar-status-away,
        &.avatar-status-busy {
            &::after {
                width: $avatar-statuse-size;
                height: $avatar-statuse-size;
                top: $status-position-top;
                right: $status-position-right;
                box-shadow: inset 0 0 0 $status-inset $card-bg;
            }
        }

    }
};